.feed-state {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(153, 153, 153);
  border-top: 1px solid rgb(239, 239, 239);
}

.feed-state span {
  text-transform: uppercase;
}

.feed-state__tab {
  display: flex;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  margin-left: 40px;
}

.feed-state__tab:first-child {
  margin-left: 0;
}

.feed-state__img {
  height: 12px;
  width: 12px;
  background-image: url(../../assets/sprite.png);
}

.feed-state__img_view_posts {
  background-position: -378px -209px;
}

.feed-state__img_view_tagged {
  background-position: -246px -438px;
}

.feed-state__tab_active {
  border-top: 1px solid rgb(38, 38, 38);
  color: rgb(38, 38, 38);
}

.feed-state__tab_active .feed-state__img_view_posts {
  background-position: -190px -438px;
}

.feed-state__tab_active .feed-state__img_view_tagged {
  background-position: -232px -438px;
}


@media screen and (max-width: 735px) {
  .feed-state span {
    display: none;
  }

  .feed-state__tab {
    width: 50%;
    justify-content: center;
  }

  .feed-state__img {
    height: 24px;
    width: 24px;
    background-image: url(../../assets/sprite2.png);
  }

  .feed-state__img_view_posts {
    background-position: -78px -117px;
  }

  .feed-state__img_view_tagged {
    background-position: -183px -26px;
  }

  .feed-state__tab_active {
    border: none;
  }

  .feed-state__tab_active .feed-state__img_view_posts {
    background-position: 0 -66px;
  }

  .feed-state__tab_active .feed-state__img_view_tagged {
    background-position: -183px 0;
  }
}