@import '../../global/variables.scss';

.feed-state {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $text_lighter;
  border-top: $border_light;

  span {
    text-transform: uppercase;
    margin-left: 10px;
  }

  &__tab {
    display: flex;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
    transition: all .1s;

    &:first-child {
      margin-left: 0;
    }

    &_active {
      border-top: 1px solid $text;
      color: $text;
    }
  }

  &__img {
    height: 12px;
    width: 12px;
    background-image: url(../../assets/sprite.png);

    &_view_posts {
      background-position: -378px -209px;
    }

    &_view_tagged {
      background-position: -246px -438px;
    }
  }

  &__tab_active &__img_view_posts {
    background-position: -190px -438px;
  }

  &__tab_active &__img_view_tagged {
    background-position: -232px -438px;
  }
}




@media screen and (max-width: 735px) {

  .feed-state {

    span {
      display: none;
    }

    &__tab {
      width: 50%;
      justify-content: center;

      &_active {
        border: none;
      }
    }

    &__img {
      height: 24px;
      width: 24px;
      background-image: url(../../assets/sprite2.png);

      &_view_posts {
        background-position: -78px -117px;
      }

      &_view_tagged {
        background-position: -183px -26px;
      }
    }

    &__tab_active &__img_view_posts {
      background-position: 0 -66px;
    }

    &__tab_active &__img_view_tagged {
      background-position: -183px 0;
    }
  }
}