.header {
  background-color: #fff;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 999;
}

.header .container {
  padding: 30px;
}

.header_scrolled {
  height: 52px;
}

.header__logo-block {
  width: 33%;
  min-width: 50px;
  margin-left: 70px;
}

.header__logo {
  height: 33px;
  width: 175px;
  background-image: url('../../assets/sprite.png');
  background-position: -98px -205px;
}

}