.footer {
  display: flex;
  justify-content: center;
  padding: 38px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__link {
  color: rgb(0, 49, 109);
  margin-right: 20px;
}

.footer__link:last-child {
  margin-right: 0;
}


.footer__copyright {
  color: rgb(153, 153,153);
  margin-top: 10px;
}