@import '../../global/variables.scss';

.new-post-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.new-post {
  background-color: #fff;
  border: $border_light;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__preview {
    width: 62px;
    height: 62px;
    margin: 20px;
    background-position: center;

    &_default {
      background-image: url('../../assets/sprite.png');
      background-position: -260px -291px;
    }
  }

  &__input-box {
    width: 75%;
    display: flex;
    position: relative;
    margin: 10px 15px 5px;

    &_fail {
      border: $border_fail;
      color: red;
    }
  }

  &__input {
    font-size: 12px;
    width: 85%;
    height: 80%;
    padding: 11px 6px;
    text-align: left;
    z-index: 999;
    margin-right: auto;
    resize: none;

    &::placeholder {
      color: $input_text_disactive;
    }

    &_file {
      height: 15px;
      cursor: pointer;
      overflow: hidden;
      width: 85%;
      margin-right: auto;

      input {
        display: none;
      }
    }

    &_large {
      width: 100%;
    }

    &_filename {
      overflow: hidden;
      white-space: nowrap;
      color: $input_text_disactive;
    }

    &_active-text {
      color: #000;
    }
  }

  &__back-link {
    width: 75%;
    height: 30px;
    margin: 10px auto 20px;
  }

  &__back-button {
    width: 100%;
    margin: 0;
    opacity: .6;
    color: $text_button;
    font-weight: 500;

    &:hover {
      opacity: 1;
      color: $text_hover;
    }
  }

  &__add-button {
    width: 75%;
    margin-top: 20px;

    &_disactive {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &__clear {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25%;
    right: 5px;
    display: flex;
    justify-content: center;
    opacity: .3;
    cursor: pointer;

    &_hidden {
      display: none;
    }

    &:hover {
      opacity: .5;
    }
  }
}
