.search {
  width: 205px;
  position: relative;
}

.search__select .search__select__dropdown-indicator,
.search__select .search__select__indicator-separator {
  display: none;
}

.search__select .search__select__control {
  min-height: auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 8px;
 }

.search__select .search__select__control--is-focused,
.search__select .search__select__control--is-focused:hover  {
  border-color: hsl(0,0%,80%);
  box-shadow: none;
 }

.search__select .search__select__value-container {
  padding: 0;
  border: none;
 }

.search__select__control:before {
  content: '';
  height: 10px;
  width: 10px;
  background-image: url(../../assets/sprite.png);
  background-position: -316px -438px;
  transition: all 0s;
  margin-left: 50px;
  margin-right: 5px;
}

.search_focused .search__select__control:before {
  margin-left: 0;
}

.search__close {
  height: 20px;
  width: 20px;
  background-image: url(../../assets/sprite.png);
  background-position: -384px -357px;
}

.search_focused .search__close {
  display: block;
}