.search {
  min-width: 205px;
  position: relative;
  border: 10px solid #fff;

  &__select {

    .search__select__dropdown-indicator,
    .search__select__indicator-separator {
      display: none;
    }

    .search__select__control {
      min-height: auto;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 0 8px;

      &--is-focused,
      &--is-focused:hover {
        border-color: hsl(0,0%,80%);
        box-shadow: none;
      }
     }

    .search__select__value-container {
      padding: 0;
      border: none;
     }

    &__control:before {
      content: '';
      height: 10px;
      width: 10px;
      background-image: url(../../assets/sprite.png);
      background-position: -316px -438px;
      transition: all 0s;
      margin-left: 50px;
      margin-right: 5px;
    }
  }

  &__close {
    height: 20px;
    width: 20px;
    background-image: url(../../assets/sprite.png);
    background-position: -384px -357px;
  }

  &_focused {
    .search__select__control:before {
      margin-left: 0;
    }

    .search__close {
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .search {
    display: none;
  }
}