.search {
  width: 20%;
  position: relative;
}

.search__input {
  height: 15px;
  padding: 5px 35px;
}

.search__input::placeholder {
  color: #a7a9ac;
}

.search__input:focus {
  padding-left: 30px;
  background-color: #fff;
  transition: padding 0s;
}

.search__img {
  position: absolute;
  height: 10px;
  width: 10px;
  background-image: url(../../assets/sprite.png);
  background-position: -316px -438px;
  top: 8px;
  left: 65px;
  transition: all 0s;
}

.search__close {
  display: none;
}

.search_focused .search__close {
  display: block;
  position: absolute;
  top: 3px;
  left: 175px;
  height: 20px;
  width: 20px;
  background-image: url(../../assets/sprite.png);
  background-position: -384px -357px;
}

.search_focused .search__img {
  top: 8px;
  left: 10px;
}